<a href="https://colab.research.google.com/github/mkpriyaa/Weather-app/blob/master/Day_10(31_01_2020)_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops
### WHILE LOOP
### FOR LOOP

## PRINT NUM FROM NUMS FROM 1 TO 10

In [0]:
n=int(input("enter a num"))
i = 1
while(i<=n):
 print(i,end=" ")
 i=i+1

enter a num10
1 2 3 4 5 6 7 8 9 10

# print sum of even nums

In [0]:
n=int(input("enter a num"))
sum=0
i=1
while i<=n:
  if(i%2==0):
     sum=sum+i
  i=i+1
print(sum)

enter a num10
20

# palindrome

In [0]:
n=int(input("enter a num"))
rev=0
rem=0
t=n
while(n>0):
  rem=n%10
  n=(n//10)
  rev=rev*10+rem
if(rev==t):
  print(t,"is a palindrome")
else:
  print("not a palindrome")

enter a num121
121 is a palindrome

#functional pgmg
- simple
- easy to unserstand
- better reuseability
- lengthy pgm will be divided into sub pgms

# syntax
- def NameofFunctionname(parameters):

 statements

 return

# print sum of even num

In [0]:
def sumofevendigits(n):
  sum=0
  while n!=0:
    rem=n%10
    if(rem%2==0):
      sum=sum+rem
    n=n//10
  return sum
sumofevendigits(1234)

6

# print largest num in a given num

In [0]:
def large(n):
  lar=0
  while n!=0:
    rem=n%10
    if(lar<rem):
      lar=rem
    n=n//10
  return lar  
large(123345)

5

# for loop
### syntax
- for in range(start,stop,step):
        statements

# print the nums between limits
# input:11 25
# output:11 12 13 14 ........24 25

In [0]:
def printseries(fn,ln):
   for i in range(fn,ln+1):
      print(i,end=" ")
   return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24

# input:500,520
# op:500,504,508.....

In [0]:
def printseries(fn,ln):
   for i in range(fn,ln+1,4):
      print(i,end=" ")
   return
printseries(500,520)

500 504 508 512 516 520

# collection types
- list
- tuple
- dictionary
## list
 - one of the data structure in python
 - data structure means to store,sort and search options
 - its one common data structure in python,the item of list separated by comma and enclosed by square brackets.
 - list is mutable(i.e values can change)
 - ex:
 - list1=[1,2,3,4,5] 
 - list2=["nani","rama"]

In [0]:
li=[1,2,3,4]
print(li)
print(li[2])
print([-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 2, 3, 4]
3
[-3]
[3, 4]
[3, 4]
[2, 3]

In [0]:
name='dave'
print(name)

dave

In [0]:
a=true,b=false
print(aandb)

NameError: ignored

In [0]:
d = {"john":40, "peter":45}
d["john"]

40

In [0]:
number = '5'*'5'

TypeError: ignored

In [0]:
a=2**2
print(a)

4

# print list item

In [63]:
li=[1,2,3,4,5]
print(li)
del li[2]
print(li)
print(len(li))
print(li*2)
li[1]=9
print(li)
print(4 in li)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 1, 2, 4, 5]
[1, 9, 4, 5]
True

# list functions
- max
- min
-sum
- append
- insert
-count
- index
- sort
-pop

# print max of list

In [66]:
li=[1,2,3,45,6]
print(max(li))
print(min(li))

45
1

TypeError: ignored